.contact-container {

    position: absolute;
    margin-left: 13%;
    top: 40%;
    transform: translateY(-50%);
    width: 75%;
    max-height: 90%;

    animation: fadeIn 1s 0.2s backwards;
    h1{
        &:before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: rgb(32, 120, 202);
            font-size: 18px;
            // position: absolute;            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }
        &:after{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: rgb(32, 120, 202);
            font-size: 18px;
            // position: absolute;            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }
    }
    .contact-heading h1 {
        color: yellow;
        font-size: 30px;
    }

    @media screen and (min-width: 500px) {
        .contact-body {
            width: 60%;
            // height: 70%;
            // top: 80%;
            // .name-email{
            //     width: 40%;
            // }
            input{
                display: inline-block;
                color: white;
                width: 10%;
                height: 25px;
                margin: 10px;
                border-radius: 0.5rem;
                background: transparent;
                // border: transparent;
                border-color: yellow;
            }
            textarea{
                display: inline-block;
                color: white;
                width: 40%;
                margin: 10px;
                border-radius: 0.5rem;
                background: transparent;
                // border: transparent;
                border-color: yellow;
            }
        }
    }
    
    @media screen and (max-width: 500px) {
        .contact-body {
            width: 100%;
            // height: 30%;
            // top: 45%;
        }
    }
    
    .contact-body {
        // background: transparent;
        animation: fadeIn 1s 0.2s backwards;
        // .input-span{
        //     width: 9%;
        // }
        // width: 60%;

        
        input{
            display: inline-block;
            color: white;
            width: 100%;
            height: 25px;
            margin: 10px;
            border-radius: 0.5rem;
            background: transparent;
            // border: transparent;
            border-color: yellow;
        }
        textarea{
            display: inline-block;
            color: white;
            width: 100%;
            margin: 10px;
            border-radius: 0.5rem;
            background: transparent;
            // border: transparent;
            border-color: yellow;
        }

        input,textarea:focus{
            border-color: yellow;
            color: white;
            outline: none;
            outline-color: yellow;
        }
        textarea{
            color: white;
            // border: transparent;
            border-color: yellow;
            border-radius: 0.5rem;
            // width: 20%;
            margin: 10px;
            background: transparent;
        }
        // button{
        //     // margin-left: 7%;
        //     color: yellow;
        //     background-color: transparent;
        //     border-color: yellow;
        //     text-align: center;
        //     font-family: Helvetica,sans-serif;
        //     // border-radius: 5px;
        //     width: 20.5%;
        //     margin: 10px;
        //     height: 30px;
        //     // text-decoration: none;
        // }
        // button:hover{
        //     transition: .4s ease-in-out;
        //     color: black;
        //     font-weight: 100;
        //     background-color: yellow;
        //     border-color: transparent;
        //     text-align: center;
        //     border-color: white;
        // }
        a{
            text-align: center;
            color: yellow;
            background-color: transparent;
            border-color: yellow;
            letter-spacing: 2px;
            font-size: 14px;
            text-align: center;
            font-family: sans-serif;
            // width: 50%;
            justify-content: center;
            // border-radius: 5px;
            text-decoration: none;
            margin-left: 45%;
            // height: 40px;
            // border-style:outset;
            // border-width: 1px;
            border-color: aliceblue;
        }
    }
}
::placeholder {
    color: rgb(235, 235, 148);
    font-weight:100;
}
