.about-heading{
    margin-left: 8%;
    margin-top: 15%;
    color: yellow;
    animation: fadeIn 1s 0.6s backwards;
    h1{
        &:before{
            content: '<p>';
            font-family: 'La Belle Aurore';
            color: rgb(32, 120, 202);
            font-size: 18px;
            // position: absolute;            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }
    }
}

.about-body{
    width: 50%;
    font-size: large;
    margin-left: 10%;
    color: aqua;
    font-family: 'La Belle Aurore';
    animation: fadeIn 1s 0.8s backwards;

    p{
        &:after{
            content: '<p/>';
            font-family: 'La Belle Aurore';
            color: rgb(32, 120, 202);
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }
    
}